# SQL Learning Activities

Complete all the tasks below in a Jupyter notebook using a mixture of Python and SQL.

**1)** Create a SQL database called **email_addresses** that contains a table called **names** with the following data:

| ID | FirstName | Surname   | Email                  |
|----|-----------|-----------|------------------------|
| 1  | Mark      | Campbell  | markcampbell@ada.ac.uk |
| 2  | Steve     | Rich      | steve@ada.ac.uk        |
| 3  | Ian       | Dickerson | ian@ada.ac.uk          |
| 4  | Vicky     | Clarke    | vicky@ada.ac.uk        |
| 5  | Stuart    | Noss      | stuart@ada.ac.uk       |

In [ ]:
import sqlite3

with sqlite3.connect("email_addresses") as db:
    cursor = db.cursor()
    
cursor.execute("""CREATE TABLE IF NOT EXISTS names(ID integer PRIMARY KEY, FirstName string NOT NULL, Surname string NOT NULL, Email string NOT NULL); """)
ID = input("Enter unique ID number: ")
FirstName = input("Enter first name: ")
Surname = input("Enter surname: ")
Email = input("Enter email: ")

cursor.execute(("""INSERT INTO email_addresses VALUES(?,?,?,?)"""),(ID, FirstName, Surname, Email))
db.commit()

# **2)** Create a new SQL database called BookInfo that will store a list of authors and the books they wrtoe. It will have two tables. The first one should be called **authors** and contain the following data:

| Name                | Place of Birth |
|---------------------|----------------|
| HP Lovecraft        | Providence     |
| Ramsey Campbell     | Liverpool      |
| August Derleth      | Sauk City      |
| Robert A.W. Lowndes | Rhode Island   |

The second one should be called **books** and contain the following data:

| ID | Title                           | Author              | Year Published |
|----|---------------------------------|---------------------|----------------|
| 1  | Call of Cthulhu                 | HP Lovecraft        | 1928           |
| 2  | The Last Voice They Hear        | Ramsey Campbell     | 1998           |
| 3  | Believer's World                | Robert A.W. Lowndes | 1961           |
| 4  | The Case of Charles Dexter Ward | HP Lovecraft        | 1941           |
| 5  | Something Near                  | August Derleth      | 1945           |
| 6  | Lonesome Places                 | August Derleth      | 1962           |
| 7  | From Beyond                     | HP Lovecraft        | 1934           |
| 8  | Dwellers in Darkness            | August Derleth      | 1976           |
| 9  | The Long Lost                   | Ramsey Campbell     | 1983           |
| 10 | The Duplicated Man              | Robert A.W. Lowndes | 1959           |
| 11 | The Tomb                        | HP Lovecraft        | 1922           |
| 12 | The Claw                        | Ramsey Campbell     | 1983           |

In [ ]:
import sqlite3

with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS authors(Name string NOT NULL, PlaceOfBirth string NOT NULL); """)
Name = input("Enter the name of the author")
PlaceOfBirth = input("Enter the place of birth")
cursor.execute(("""INSERT INTO authors VALUES(?,?)"""),(Name, PlaceOfBirth))


cursor.execute("""CREATE TABLE IF NOT EXISTS books(ID integer PRIMARY KEY, Title string NOT NULL, Author string NOT NULL, YearPublished integer NOT NULL);""")
ID = input("Enter unique ID number: ")
Title = input("Enter the title")
Author = input("Enter the author ")
YearPublished = input("Enter the year published ")
cursor.execute(("""INSERT INTO books VALUES(?,?,?,?)"""),(ID, Title, Author, YearPublished))

db.commit()

**3)** Using the BookInfo database from question 2 above, display the list of authors and their place of birth. Ask the user to enter a place of birth and then show the title, date published and author's name for all the books by authors who were born in the location they selected.

In [ ]:
searchfor = input("Enter the date of birth")
cursor.execute("SELECT * from Books WHERE DateOfBirth='searchfor'")
print(cursor.fetchall())

**4)** Using the BookInfo database, ask the user to enter a year and display all the books published after that year, sorted by the year they were published.

In [ ]:
searchfor = input("Enter the date of birth")
cursor.execute("SELECT * from Date WHERE DateOfBirth<'searchfor'")
print(cursor.fetchall())